@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/proximanova_light.otf") format("opentype");
    font-weight: 300;
  }
  @font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/proximanova_regular.ttf") format("truetype");
    font-weight: 400;
  }
  @font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/Proxima\ Nova\ Medium.otf") format("opentype");
    font-weight: 500;
  }

  @font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/proximanova_bold.otf") format("opentype");
    font-weight: 700;
  }
  @font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/proximanova_extrabold.otf") format("opentype");
    font-weight: 800;
  }
  @font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/proximanova_black.ttf") format("truetype");
    font-weight: 900;
  }

  @font-face {
    font-family: "Roboto Slab";
    src: url("../fonts/RobotoSlab-Thin.ttf") format("truetype");
    font-weight: 100;
  }

  @font-face {
    font-family: "Roboto Slab";
    src: url("../fonts/RobotoSlab-ExtraLight.ttf") format("truetype");
    font-weight: 200;
  }

  @font-face {
    font-family: "Roboto Slab";
    src: url("../fonts/RobotoSlab-Light.ttf") format("truetype");
    font-weight: 300;
  }

  @font-face {
    font-family: "Roboto Slab";
    src: url("../fonts/RobotoSlab-Regular.ttf") format("truetype");
    font-weight: 400;
  }

  @font-face {
    font-family: "Roboto Slab";
    src: url("../fonts/RobotoSlab-Medium.ttf") format("truetype");
    font-weight: 500;
  }

  @font-face {
    font-family: "Roboto Slab";
    src: url("../fonts/RobotoSlab-SemiBold.ttf") format("truetype");
    font-weight: 600;
  }

  @font-face {
    font-family: "Roboto Slab";
    src: url("../fonts/RobotoSlab-Bold.ttf") format("truetype");
    font-weight: 700;
  }

  @font-face {
    font-family: "Roboto Slab";
    src: url("../fonts/RobotoSlab-ExtraBold.ttf") format("truetype");
    font-weight: 800;
  }

  @font-face {
    font-family: "Roboto Slab";
    src: url("../fonts/RobotoSlab-Black.ttf") format("truetype");
    font-weight: 900;
  }